.formBody {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.formContentWrapper {
  width: 100%;
  max-width: 520px;
  box-sizing: border-box;
  overflow-y: auto;
  flex-direction: column;
  margin: auto;
}
