@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-hex: #000;
  --text-disabled-color-hex: #475569;
  --text-secondary-color-hex: #475569;
  --text-code-color-hex: #1e293b;
  --background-hex: #fff;
  --border-hex: #e5e7eb;
  --primary-hex: #60a5fa;
  --background-active-hex: #eff6ff;
  --selected-bg: #eff6ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-hex: #fff;
    --text-disabled-color-hex: #94a3b8;
    --text-secondary-color-hex: #e2e8f0;
    --text-code-color-hex: #f1f5f9;
    --background-hex: #475569;
    --border-hex: #334155;
    --primary-hex: #60a5fa;
    --background-active-hex: #eff6ff;
    --selected-bg: rgba(0, 0, 0, 0.06);
  }
}

::placeholder {
  color: var(--text-disabled-color-hex) !important;
}

body {
  color: var(--text-color-hex);
  background-color: var(--background-hex);
  font-family: var(--font-default), -apple-system, BlinkMacSystemFont,
    "Work Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box;
  /* color: var(--text-color-hex); */
}

body code {
  font-family: var(--font-code), monospace;
  color: var(--text-code-color-hex);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

ol {
  list-style: decimal;
  /* margin: 16px; */
  padding: 16px;
}

ul {
  list-style: disc;
  /* margin: 16px; */
  padding: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body,
#__next {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}

code {
  display: inline-block;
  background: rgba(150, 150, 150, 0.1);
  border: 1px solid rgba(100, 100, 100, 0.2);
  padding: 0px 6px;
  border-radius: 12px;
}

.icon-btn.ant-btn,
.ant-notification-notice-close {
  line-height: 16px;
  background-color: var(--background-hex);
  border: 1px solid var(--border-hex);
  height: 24px;
  width: 24px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-hex) !important;
}

.icon-btn.ant-btn:hover,
.ant-notification-notice-close:hover {
  background-color: var(--background-hex);
}

.ant-notification-close-x {
  display: inline-flex !important;
}

.icon-btn svg {
  width: 15px;
  height: 15px;
}

.icon-btn.ant-btn[disabled] svg {
  color: var(--text-color-hex);
}

.anticon {
  vertical-align: middle !important;
}

.ant-btn {
  border-radius: 4px !important;
}

.ant-tabs-nav {
  margin: 0 !important;
}

.ant-typography > code {
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  padding: 0px 8px;
}

:root {
  --top-nav-height: 64px;
}

.ant-avatar {
  background-color: var(--background-hex);
  color: var(--text-color-hex);
}

.ant-menu-inline-collapsed .ant-menu-item {
  width: unset;
}

.ant-menu-inline-collapsed .ant-menu-title-content {
  display: none !important;
}

.ant-menu-inline-collapsed {
  width: unset !important;
  display: flex;
  flex-direction: column;
}

.ant-menu {
  /* border-right: 1px solid var(--border-hex) !important; */
  border-right: 0 !important;
}

.ant-menu-item-icon {
  width: 16px;
  height: 16px;
}

.ant-menu-item {
  display: flex !important;
  align-items: center;
  height: 36px !important;
}

.ant-menu-item-selected {
  font-weight: 600;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  font-weight: 600;
}
