.root {
  display: flex;
  padding: 0px 16px;
  border-bottom: 2px solid #f0f0f0;
  align-items: center;
}

.headers {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.icon {
  padding-right: 16px;
  margin-right: 16px;
  border-right: 2px solid #f0f0f0;
}
