* {
  box-sizing: border-box;
}

.iti__flag {
  background-image: url("/lib/media/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("/lib/media/flags@2x.png");
  }
}
